<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>To Do List</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.0/backbone.localStorage-min.js" type="text/javascript"></script>
  <!-- // <script src="app.js"></script>  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="app.css"> 
  <script src="app.js"></script>
</head>
<body>
  <div class="container">
    <header>
      <h1>To Do List:</h1>
      <input id="new-task" placeholder="+ Add a task..." >
    </header>

    <div class="list-display">
      <ul id="list">
      </ul>
    </div>
  </div>

  <script type="text/template" id="task-template">
  <div>
    <input class="toggle" type="checkbox" <%= done ? 'checked' : '' %>>
    <label><%- description %></label>
    <div class="delete">
      <button>X</button>
    </div>
  </div>
  </script>
  
  <script type="text/javascript">
      // MODEL //
  var Task = Backbone.Model.extend({
    defaults: {
      description: '',
      done: false
    },
    toggle: function(){
      this.save({done: !this.get('done')});
    }
  });


  // COLLECTION //
  var TaskList = Backbone.Collection.extend({
    model: Task,
    localStorage: new Store("tasks-backbone")
  })

  var taskList = new TaskList();

  // VIEW //

  var ListView = Backbone.View.extend({
    tagName: 'li',
    template: _.template($('#task-template').html()),
    render: function(){
      this.$el.html(this.template(this.model.toJSON()));
      return this;
    },
    initialize: function(){
      this.model.on('change', this.render, this);
      this.model.on('destroy', this.remove, this)
    },
    events: {
      'click .toggle': 'doneTask',
      'click .delete': 'destroy'
    },
    doneTask: function(){
      this.model.toggle();
    },
    destroy: function(){
      this.model.destroy();
      console.log("item destroyed")
    }
  });

  var AppView = Backbone.View.extend({
    el: '.container',
    initialize: function(){
      this.input = this.$('#new-task');
      taskList.on('add', this.addAllTasks, this);
      taskList.on('reset', this.addAllTasks, this)
      taskList.fetch();
    },
    events: {
      'keypress #new-task': 'createNewTaskOnEnter'
    },
    createNewTaskOnEnter: function(event){
      if(event.keyCode === 13) {
        var test = taskList.create(this.newTask());
        this.input.val('');
      }

    },
    addTask: function(todo){
      var view = new ListView({model: todo});
      $('#list').prepend(view.render().el);
    },
    addAllTasks: function(){
      this.$('#list').html('');
      taskList.each(this.addTask, this);
    },
    newTask: function(){
      return {
        description: this.input.val().trim(),
        done: false
      }
    },
  });

  var appView = new AppView();

  </script>
  
</body>
</html>