*{
  list-style: none;
  font-family: sans-serif;
}
h1{
  color: grey;
}
body{
  margin-top: 30px;
}

.container{
  padding-top: 15px;
  text-align: center;
  margin: auto;
  width: 400px;
  height: 600px;
  border: grey solid;
  border-radius: 15px;
  overflow: scroll;
}

.list-display{
  text-align: left;
  margin-left: -5px;
  font-size: 20px;
}

li{
  border: lightgrey solid 2px;
  margin: 1px;
  width: 300px;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
}

li:hover{
  border: grey solid 2px;
}

input.edit{
  display: none;
}

.editing label{
  display: none;
}

.editing input.edit {
  display: inline;
  width: 200px;
  height: 25px;
  font-size: 20px;
  border-radius: 20px;
  background: lightgrey;
  opacity: 0.7;
  padding-left: 20px;
  border: 0;
  outline: none;
}

.toggle:checked + label{
  text-decoration: line-through;
  color: lightgrey;
}

button {
  font-size: 20px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

button:hover{
  color:darkred;
  font-weight: bold;
}

.delete{
  float: right;
}

#new-task{
  width: 300px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background: lightgrey;
  opacity: 0.7;
  padding-left: 20px;
  border: 0;
  outline: none;
}